$md-lg: 768px;

#List{
    margin-right: 250px; //把文本部分往旁邊推
    z-index: 1;

    @media screen and (max-width: $md-lg) {
        margin-right: 70px;
    }

    .list-wrap{
        width: 250px;
        height: 100vh;
        background-color:rgb(255, 255, 255);
        box-shadow: 1px 1px 1px 1px rgba(234, 232, 232, 0.097);

        position: fixed;
        transition: .5s;

        @media screen and (max-width: $md-lg) {
            width: 100%;
            height: 80px; //配和header高度
        }

        header{

            @media screen and (max-width: $md-lg) {
                display: flex;
                justify-content: end;
                margin-right: 20px;
            }

            a{
                margin-left: 200px;
                display: inline-block;


                i{
                    font-size: 30px; //icon大小
                    padding: 5px;
                    border-radius: 10px;
                    box-shadow: 1px 1px 1px 1px rgba(89, 87, 87, 0.123);
                    background-color: #e6e3e3a4;


                }
            }
        }

        section{


            ul{
                margin-top: 50px;

                @media screen and (max-width: $md-lg) {
                    margin-top: 20px;

                    display: none; //暫時隱藏
                }

                li{
                    border-radius: 10px;
                    transition: all .2s;

                    &:hover{
                        cursor: pointer;
                        border-radius: 0;
                        background-color: #ab4343;
                        transition: all 1s;
                    }

                    @media screen and (max-width: $md-lg) {
                        border-radius: 0;
                    }
                }
            }
        }

    }
}