/*
    width: 100%;
    height: 100%;
    padding: 30px;

    以上3條必備款 
*/

$md-lg: 768px;

#connection{
    width: 100%;
    min-height: 100%;
    padding: 30px;

    /* 以上3條必備 */


    .Questionnaire{
        width: 600px;
        min-height: 100%;
        border: 1px solid rgba(221, 246, 246, 0.911);
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(220, 221, 221, 0.463);
        background-color: rgba(221, 246, 246, 0.76);

        @media screen and (max-width: $md-lg) {
            width: 100%;
            margin-top: 70px;
        }


        .form-box{
            border: 1px solid rgba(224, 227, 227, 0.905);
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px rgba(224, 227, 227, 0.304);
            
            background-color: #ffffff8a;

            textarea{ //mx-auto 目前難處理
                width:450px;
                height:150px;
                resize: none;

                @media screen and (max-width: $md-lg) {
                    width: 90%;
                }

            }
        }


        // 這個跟大家不一樣
        input[type="submit"]{
            border: 1px solid #ccc;
            padding: 8px; /* 调整内边距 */
            background-color: #f4f4f4;
            color: #333;
        }

    }


    /* 大範圍css */

    input {
        border: none;
        border-bottom: 1px solid #000000b0; /* 设置底线样式，可以根据需要更改颜色 */
        outline: none; /* 去除默认的聚焦时的边框样式 */
        background: transparent;/* 设置背景为透明 */
    }
}