
*{
    margin: 0;
    padding: 0;
}


.box{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: #d08686ba;

    
    .fc{ //最外框 
        padding: 20px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e9b69c94;

        table{

            td{
                width: 100%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    
   

    .illustrate{
        margin-right: 70px;
        margin-bottom: 30px;

        line-height: -10px;

        position: absolute;
        right: 0;
        bottom: 0;
    }
    
}


#setting{
    width: 900px;
    height: 700px;
    box-shadow: 1px 1px 1px 1px #80827f9e;
    background-color: #53ca24;

    position: absolute; top: 0; left: 0;
    // top: 20%;
    // left: 30%;
    z-index: 2;

    .File-label{
        width: 300px;
        height: 250px;
        background-color: #fff;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }