#Title{

    position: relative;

    span{
        width: 150px;
        border-bottom: 1px solid rgba(186, 179, 179, 0.403);
    
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 5px;
    }

}