$md-lg: 768px;

#about{
    width: 100%;
    min-height: 100vh;
    background-color: #eff2f0;

    header{
        padding: 6px;
        box-shadow: 1px 1px 1px 1px #e4e4e5;
        
        display: flex;
        justify-content: end;

        
        position: fixed;
        top: 0;
        right: 0;
        left: 250px;

        @media screen and (max-width: $md-lg) {
            position: sticky;
            height: 70px;
            top: 70px; //配合List組件header高度
        }
     
    }

        

    #About-me{
        margin-top: 100px;
        // background-color: #ffffff;
        
        img{
            width: 220px;
            height: 240px;
            object-fit: cover;
        }
    }
       
    #Experience{
        margin-top: 100px;
    }
}